<div class="container">
  <h1 class="my-4">
    <i class="fas fa-map-marked-alt"></i> Bienvenido a la Gestión de Terreno
  </h1>
  <div class="table-container">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th><i class="fas fa-user" title="Nombre"></i></th>
          <th><i class="fas fa-user-tie" title="Apellido"></i></th>
          <th><i class="fas fa-id-card-alt" title="N°Cédula"></i></th>
          <th><i class="fas fa-city" title="Ciudad"></i></th>
          <th><i class="fas fa-envelope" title="Correo electrónico"></i></th>
          <th><i class="fas fa-file" title="Documento"></i></th>
          <th><i class="fas fa-info-circle" title="Estado"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitud of solicitudesAprobadas">
          <td>{{ solicitud.nombre }}</td>
          <td>{{ solicitud.apellido }}</td>
          <td>{{ solicitud.numeroCedula }}</td>
          <td>{{ solicitud.ciudad }}</td>
          <td>{{ solicitud.correoElectronico }}</td>
          <td>
            <button *ngIf="solicitud.documentosAdjuntos" class="btn btn-primary btn-sm" (click)="verDocumentoAdjunto(solicitud)">
              Ver Documento
            </button>
            <button *ngIf="!solicitud.documentosAdjuntos" class="btn btn-warning btn-sm">
              No ha cargado documentos
            </button>
          </td>
          <td>{{ solicitud.estadoRegistro }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-secondary mt-4" (click)="goBack()">
    <i class="fas fa-arrow-left"></i> Regresar
  </button>
</div>
